@model IEnumerable<CallCenterService.Models.Repair>

@{
    ViewData["Title"] = "Index";
}
@section head {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js" integrity="sha384-CchuzHs077vGtfhGYl9Qtc7Vx64rXBXdIAZIPbItbNyWIRTdG0oYAqki3Ry13Yzu" crossorigin="anonymous"></script>

    <style>
        @@media print {
            #search-repairs {
                display: none;
            }
        }

        /* SEARCH */
        .searchInput {
            background-image: url('https://www.w3schools.com/css/searchicon.png '); /* https://www.w3schools.com/css/searchicon.png */
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 200px;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
            margin-top: 6px;
        }

        .formUnit {
            white-space: nowrap;
        }
    </style>
}
<script>
    function checkIfDone(getId) {
        jQuery.ajax({
            type: "GET",
            url: "/Repairs/CheckIfDone/" + getId,
            success: function (data) {
                if (data == 1) {
                    bootbox.alert("Naprawa oznaczona jako wykonana.");
                    location.reload();                  // dla prezesa do poprawy
                }
                else if (data == 0) {
                    bootbox.alert("Żeby zatwierdzić naprawę musisz podać jej cenę i datę.");
                }
            },

            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }
</script>

<h2>Twoje zlecenia</h2>

<p>
    @*<a asp-action="Create">Create New</a>*@ &nbsp;
</p>
<form id="search-repairs">
    <p>
        <span class="formUnit">Imię klienta: <input type="text" id="searchClientName" class="searchInput" onkeyup="searchingEngine()" /></span>
        <span class="formUnit">Nazwisko klienta: <input type="text" id="searchClientSurname" class="searchInput" onkeyup="searchingEngine()" /></span>
        <span class="formUnit">Nazwa produktu: <input type="text" id="searchProductName" class="searchInput" onkeyup="searchingEngine()" /></span>

    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                ID naprawy
            </th>
            <th>
                Imię klienta
            </th>
            <th>
                Nazwisko klienta
            </th>
            <th>
                Nazwa produktu
            </th>
            <th>
                Opis naprawy
            </th>
            @*<th>
                    Data
                </th>*@
            @*<th>
                    Cena
                </th>
                <th>
                    Cena części
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody id="searchBody">
        @foreach (var item in Model)
        {
            var clientName = item.Fault.Product.Client.FirstName;
            var clientSurname = item.Fault.Product.Client.SecondName;
            var productName = item.Fault.Product.Name;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RepairId)
            </td>
            <td class="resultsclientName">
                @Html.DisplayFor(modelItem => item.Fault.Product.Client.FirstName)
            </td>
            <td class="resultsclientSurname">
                @Html.DisplayFor(modelItem => item.Fault.Product.Client.SecondName)
            </td>
            <td class="resultsProductName">
                @Html.DisplayFor(modelItem => item.Fault.Product.Name)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>*@
            @*<td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartsPrice)
        </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.RepairId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.RepairId">Szczegóły</a> |
                @if (User.IsInRole("Admin") || User.IsInRole("Kierownik")) {
                    <a asp-action="Delete" asp-route-id="@item.RepairId">Usuń</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
<script>

    function searchingEngine() {
        var tbody, trs, tr, searchByName, searchBySurname, searchByAddress, display, i;
        tbody = document.getElementById("searchBody");
        trs = tbody.getElementsByTagName("tr");

        searchByName = document.forms['search-repairs'].querySelector("#searchClientName");
        searchBySurname = document.forms['search-repairs'].querySelector("#searchClientSurname");
        searchByAddress = document.forms['search-repairs'].querySelector("#searchProductName");

        for (i = 0; i < trs.length; i++) {
            tr = trs[i];
            if (
                checkFilter(tr, searchByName, "resultsclientName") &&
                checkFilter(tr, searchBySurname, "resultsclientSurname") &&
                checkFilter(tr, searchByAddress, "resultsProductName")
            ) {
                display = "";
            }
            else {
                display = "none";
            }

            tr.style.display = display;
        }

    }

    function checkFilter(tr, input, resultClass) {
        var inputValue = (input.value || "").toUpperCase();
        var resultValue = tr.getElementsByClassName(resultClass)[0].textContent.toUpperCase();
        return resultValue.indexOf(inputValue) > -1;
    }

    var tbody = document.getElementById("searchBody");
    var trs = tbody.getElementsByTagName("tr");

    var btn = document.getElementById("btn1").addEventListener("click", function (e) {
        e.preventDefault();

    })
    class User {
        constructor(clientName, clientSurname, productName) {
            this.clientName = clientName;
            this.clientSurname = clientSurname;
            this.productName = productName;
        }
    }

</script>
