@model CallCenterService.Models.Repair

@{
    ViewData["Title"] = "Details";
}

<h2>Szczegóły</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię serwisanta:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user.FirstName)
        </dd>
        <dt>
            Nazwisko serwisanta:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user.LastName)
        </dd>
        <dt>
            ID naprawy:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RepairId)
        </dd>
        <dt>
            ID klienta:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fault.Product.Client.ClientId)
        </dd>
        <dt>
            Imię klienta:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fault.Product.Client.FirstName)
        </dd>
        <dt>
            Nazwisko klienta:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fault.Product.Client.SecondName)
        </dd>
        <dt>
            Adres klienta:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fault.Product.Client.Street)
        </dd>
        <dt>
            ID usterki:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fault.FaultId)
        </dd>
        <dt>
            ID produktu:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fault.Product.ProductID)
        </dd>
        <dt>
            Nazwa produktu:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fault.Product.Name)
        </dd>
        <dt>
            Opis klienta:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fault.ClientDescription)
        </dd>
        <dt>
            Opis naprawy:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Data naprawy:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            Cena naprawy:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            Cena części zew.:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartsPrice)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.RepairId">Edytuj</a> |
    <a asp-action="Index">Wróć</a>*@
</div>
