@model IEnumerable<CallCenterService.Models.Repair>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.3.0/bootbox.min.js"></script>

<script>
    function checkIfDone(getId) {
            jQuery.ajax({
                type: "GET",
                url: "/Repairs/CheckIfDone/" + getId,
                success: function (data)
                {
                    if (data == 1) {
                        bootbox.alert("Naprawa oznaczona jako wykonana.");
                        location.reload();                  // dla prezesa do poprawy
                    }
                    else if (data == 0) {
                        bootbox.alert("Żeby zatwierdzić naprawę musisz podać jej cenę i datę.");
                    }
                },

                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
    }
</script>

<h2>Twoje zlecenia</h2>

<p>
    @*<a asp-action="Create">Create New</a>*@ &nbsp;
</p>

<form asp-controller="Repairs" asp-action="Index" method="get">
    <p>
        <b>ID naprawy:</b> <input type="text" name="searchIdRepair">
        <b>Imie klienta: </b> <input type="text" name="searchClientName">
        <b>Nazwisko klienta:</b>  <input type="text" name="searchClientSurname">
        <b>Nazwa produktu: </b> <input type="text" name="searchNameProduct">
        <input type="submit" value="Szukaj" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                ID naprawy
            </th>
            <th>
                Imię klienta
            </th>
            <th>
                Nazwisko klienta
            </th>
            <th>
                Nazwa produktu
            </th>
            <th>
               Opis naprawy
            </th>
            @*<th>
                Data
            </th>*@
            @*<th>
                Cena
            </th>
            <th>
                Cena części
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RepairId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fault.Client.FirstName)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Fault.Client.SecondName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Fault.Product.Name)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartsPrice)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.RepairId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.RepairId">Szczegóły</a> |
                @*<a asp-action="Delete" asp-route-id="@item.RepairId">Delete</a> |*@
                <a href="javascript:checkIfDone(@item.RepairId);" id="done">Oznacz jako wykonane</a>
            </td>
        </tr>
        }
    </tbody>
</table>

