@*<link rel="stylesheet" href="~/css/tableStyle.css">*@
@model IEnumerable<CallCenterService.Models.Fault>
@{
    ViewData["Title"] = "Zamknięte usterki";
}

    <h2>Zamknięte usterki</h2>


    <table class="table">
        <thead>
            <tr>
                <th>
                    ID usterki
                </th>
                <th>
                    Opis klienta
                </th>
                <th>
                    Status
                </th>
                <th>
                    Data zgłoszenia
                </th>
                <th>
                    Imię klienta
                </th>
                <th>
                    Nazwisko klienta
                </th>
                <th>
                    Adres klienta
                </th>
                <th>
                    
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FaultId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.SecondName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Adress)
                </td>
                <td><a asp-action="GoToRepair" asp-route-id="@item.FaultId">Przejdź do naprawy</a></td>
            </tr>
    }
        </tbody>
    </table>
