@*<link rel="stylesheet" href="~/css/tableStyle.css">*@
@model IEnumerable<CallCenterService.Models.Fault>

@{
    ViewData["Title"] = "Registrant Panel";
}

<h2>Panel rejestrującego</h2>
<p>
    <a asp-action="assigned_faults">Przypisane usterki</a>
</p>
<p>
    <a asp-action="Closed_assigned_faults">Zamknięte usterki</a>
</p>

<p>
    <a asp-action="Opened_faults">Otwarte usterki</a>
</p>
<p>
    <a asp-action="FaultsList">Wszystkie usterki</a>
</p>

<p>
    <br />
    @*<br />
    <a asp-action="AddFault">Add fault</a>*@
    <br />
    <a asp-action="AddClients">Lista klientów</a>
    @*<br />
    <a asp-action="FaultsList">All Faults</a>*@
</p>

<br />
<form asp-controller="Registrant" asp-action="Index" method="get">
    <p>
        <b> ID usterki</b> <input type="text" name="searchIDFault">
        <b> Imię klienta:</b> <input type="text" name="searchClientName">
        <b> Nazwisko klienta: </b> <input type="text" name="searchClientSurname">
        <b> Adres klienta: </b><input type="text" name="searchClientAddress">
        <input type="submit" value="Szukaj" />
</p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                ID usterki
            </th>
            <th>
                Opis klienta
            </th>
            <th>
                Status
            </th>
            <th>
                Data zgłoszenia
            </th>
            <th>
                Imię klienta
            </th>
            <th>
                Nazwisko klienta
            </th>
            <th>
                Adres klienta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FaultId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Street)
            </td>
            <td>
                <a asp-action="SetServicer" asp-route-id="@item.FaultId">Dodaj serwisanta</a>
            </td>
        </tr>
        }
    </tbody>
</table>
