@model IEnumerable<CallCenterService.ViewModels.IndexRegistrantViewModel>

@{
    ViewData["Title"] = "Registrant Panel";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FaultData.ClientDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaultData.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaultData.ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicer.SecondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicer.Specialization)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FaultData.ClientDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FaultData.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FaultData.ApplicationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servicer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servicer.SecondName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servicer.Specialization)
                </td>
                <td>
                    <a asp-action="SetServicer" asp-route-id="@item.FaultData.FaultId">Add Servicer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
