@model IEnumerable<CallCenterService.Models.Fault>
    @{
    ViewData["Title"] = "Otwarte usterki";
    }
    @section head {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js" integrity="sha384-CchuzHs077vGtfhGYl9Qtc7Vx64rXBXdIAZIPbItbNyWIRTdG0oYAqki3Ry13Yzu" crossorigin="anonymous"></script>

    <style>
        @@media print {
            #search-faults {
                display: none;
            }
        }

        /* SEARCH */
        .searchInput {
            background-image: url('https://www.w3schools.com/css/searchicon.png '); /* https://www.w3schools.com/css/searchicon.png */
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 200px;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
            margin-top: 6px;
        }

        .formUnit {
            white-space: nowrap;
        }
    </style>
    }


    <h2>Otwarte usterki</h2>

    <form id="search-faults">
        <p>
            <span class="formUnit">Imię klienta: <input type="text" id="searchClientName" class="searchInput" onkeyup="searchingEngine()" /></span>
            <span class="formUnit">Nazwisko klienta: <input type="text" id="searchClientSurname" class="searchInput" onkeyup="searchingEngine()" /></span>
            <span class="formUnit">Ulica klienta: <input type="text" id="searchClientAddres" class="searchInput" onkeyup="searchingEngine()" /></span>
        </p>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    ID usterki
                </th>
                <th>
                    Opis klienta
                </th>
                <th>
                    Status
                </th>
                <th>
                    Data zgłoszenia
                </th>
                <th>
                    Imię klienta
                </th>
                <th>
                    Nazwisko klienta
                </th>
                <th>
                    Ulica klienta
                </th>
                <th>
                    Kod pocztowy
                </th>
                <th>
                    Miasto
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="searchBody">
            @foreach (var item in Model)
            {
                var clientName = item.Product.Client.FirstName;
                var clientSurname = item.Product.Client.SecondName;
                var clientAddres = item.Product.Client.Street;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FaultId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientDescription)
                </td>
                <td>
                    @if (item.Status == "Open")
        {
            <span>Otwarty</span>
}
else if (item.Status == "Done")
{
            <span>Zamknięty</span>
}
else if (item.Status == "In progress")
{
            <span>W trakcie</span>
}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDate)
                </td>
                <td class="resultsclientName">
                    @Html.DisplayFor(modelItem => item.Product.Client.FirstName)
                </td>
                <td class="resultsclientSurname">
                    @Html.DisplayFor(modelItem => item.Product.Client.SecondName)
                </td>
                <td class="resultsclientAddres">
                    @item.Product.Client.Street @if (item.Product.Client.StreetNumber != null && item.Product.Client.ApartmentNumber != null)
              { @item.Product.Client.StreetNumber<span>/</span>@item.Product.Client.ApartmentNumber; }
                else if (@item.Product.Client.StreetNumber != null && @item.Product.Client.ApartmentNumber == null)
                { @item.Product.Client.StreetNumber;}
                else if (@item.Product.Client.StreetNumber == null && @item.Product.Client.ApartmentNumber != null)
                { @item.Product.Client.ApartmentNumber; }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Client.PostCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Client.City)
                </td>


            </tr>
            }
        </tbody>
    </table>
    <script>

        function searchingEngine() {
            var tbody, trs, tr, searchByName, searchBySurname, searchByAddres, display, i;
            tbody = document.getElementById("searchBody");
            trs = tbody.getElementsByTagName("tr");

            searchByName = document.forms['search-faults'].querySelector("#searchClientName");
            searchBySurname = document.forms['search-faults'].querySelector("#searchClientSurname");
            searchByAddres = document.forms['search-faults'].querySelector("#searchClientAddres");


            for (i = 0; i < trs.length; i++) {
                tr = trs[i];
                if (
                    checkFilter(tr, searchByName, "resultsclientName") &&
                    checkFilter(tr, searchBySurname, "resultsclientSurname")  &&
                    checkFilter(tr, searchByAddres, "resultsclientAddres")
                ) {
                    display = "";
                }
                else {
                    display = "none";
                }

                tr.style.display = display;
            }

        }

        function checkFilter(tr, input, resultClass) {
            var inputValue = (input.value || "").toUpperCase();
            var resultValue = tr.getElementsByClassName(resultClass)[0].textContent.toUpperCase();
            return resultValue.indexOf(inputValue) > -1;
        }

        var tbody = document.getElementById("searchBody");
        var trs = tbody.getElementsByTagName("tr");


        for (var i = 0; i < trs.length; i++) {
            trs[i].addEventListener("click", addHighlight);
        }
        var btn = document.getElementById("btn1").addEventListener("click", function (e) {
            e.preventDefault();

        })
        class User {
            constructor(clientName, clientSurname, clientAddres) {
                this.clientName = clientName;
                this.clientSurname = clientSurname;
                this.clientAddres = clientAddres;

            }
        }

    </script>
