@*<link rel="stylesheet" href="~/css/tableStyle.css">*@
@model CallCenterService.ViewModels.SetServicerRegistrantViewModel

<h2>Set Servicer</h2>

<h3>ID usterki: @Model.FaultData.FaultId</h3>

<div asp-validation-summary="All"></div>
<form asp-controller="Registrant" asp-action="SetServicer">
    <input asp-for="FaultId" type="hidden" />
    <div><input type="submit" value="Przypisz serwisanta" /></div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID serwisanta
                </th>
                <th>
                    Imię
                </th>
                <th>
                    Nazwisko
                </th>
                <th>
                    Specjalizacja
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var servicer in Model.Servicers)
            {
                <tr>
                    <td>@servicer.Id</td>
                    <td>@servicer.FirstName</td>
                    <td>@servicer.LastName</td>
                    <td>@servicer.Specialization</td>
                    <td><input asp-for="ServicerId" value="@servicer.Id" type="radio" /></td>
                </tr>
            }
        </tbody>
    </table>
</form>