@model IEnumerable<CallCenterService.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Produkty</h2>

<p>
    <a asp-action="Create">Dodaj produkt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID produktu
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Typ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID">Edytuj</a>
                @*<a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
