@model IEnumerable<CallCenterService.Models.Product>

@{
    ViewData["Title"] = "Index";
}

@section head {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js" integrity="sha384-CchuzHs077vGtfhGYl9Qtc7Vx64rXBXdIAZIPbItbNyWIRTdG0oYAqki3Ry13Yzu" crossorigin="anonymous"></script>

    <style>
        @@media print {
            #search-products {
                display: none;
            }
        }

        /* SEARCH */
        .searchInput {
            background-image: url('https://www.w3schools.com/css/searchicon.png '); /* https://www.w3schools.com/css/searchicon.png */
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 200px;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
            margin-top: 6px;
        }

        .formUnit {
            white-space: nowrap;
        }
    </style>
}

<h2>Produkty</h2>

<form id="search-products">
    <p>
        <span class="formUnit">Nazwa: <input type="text" id="searchProductName" class="searchInput" onkeyup="searchingEngine()" /></span>
        <span class="formUnit">Typ: <input type="text" id="searchProductType" class="searchInput" onkeyup="searchingEngine()" /></span>

    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                ID produktu
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Typ
            </th>
            <th>
                Id Klienta
            </th>
            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="searchBody">
        @foreach (var item in Model)
        {
            var productName = item.Name;
            var productType = item.Type.Type;

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td class="resultsProductName">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="resultsProductType">
                @Html.DisplayFor(modelItem => item.Type.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.SecondName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID">Edytuj</a>
                @*<a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.ProductID">Usuń</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<script>

    function searchingEngine() {
        var tbody, trs, tr, searchByName, searchByType, display, i;
        tbody = document.getElementById("searchBody");
        trs = tbody.getElementsByTagName("tr");

        searchByName = document.forms['search-products'].querySelector("#searchProductName");
        searchByType = document.forms['search-products'].querySelector("#searchProductType");

        for (i = 0; i < trs.length; i++) {
            tr = trs[i];
            if (
                checkFilter(tr, searchByName, "resultsProductName") &&
                checkFilter(tr, searchByType, "resultsProductType")
        
            ) {
                display = "";
            }
            else {
                display = "none";
            }

            tr.style.display = display;
        }

    }

    function checkFilter(tr, input, resultClass) {
        var inputValue = (input.value || "").toUpperCase();
        var resultValue = tr.getElementsByClassName(resultClass)[0].textContent.toUpperCase();
        return resultValue.indexOf(inputValue) > -1;
    }

    var tbody = document.getElementById("searchBody");
    var trs = tbody.getElementsByTagName("tr");

 
    var btn = document.getElementById("btn1").addEventListener("click", function (e) {
        e.preventDefault();

    })
    class User {
        constructor(productName, productType) {
            this.productName = productName;
            this.productType = productType;
        }
    }

</script>