@model IEnumerable<CallCenterService.Models.ServicerFault>

    @{
    ViewData["Title"] = "Index";
    }

    <h2>Your Faults</h2>


    <table class="table">
        <thead>
            <tr>
                
                <th>
                    @Html.DisplayNameFor(model => model.IdFault)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdServicer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.IdFault)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdServicer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <td></td>
            </tr>
}
        </tbody>
    </table>
