@using Microsoft.AspNetCore.Identity;

@using Microsoft.AspNetCore.Identity;
@using CallCenterService.Models;
@model CallCenterService.ViewModels.UsersViewModel

@inject UserManager<ApplicationUser> userManager
@section head {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js" integrity="sha384-CchuzHs077vGtfhGYl9Qtc7Vx64rXBXdIAZIPbItbNyWIRTdG0oYAqki3Ry13Yzu" crossorigin="anonymous"></script>

    <style>
        @@media print {
            #search-servicers {
                display: none;
            }
        }

        /* SEARCH */
        .searchInput {
            background-image: url('https://www.w3schools.com/css/searchicon.png '); /* https://www.w3schools.com/css/searchicon.png */
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 200px;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
            margin-top: 6px;
        }

        .formUnit {
            white-space: nowrap;
        }
    </style>
}

<h2>Użytkownicy</h2>
<br />

<form id="search-servicers">
    <p>
        <span class="formUnit">Imię serwisanta: <input type="text" id="searchServicerName" class="searchInput" onkeyup="searchingEngine()" /></span>
        <span class="formUnit">Nazwisko serwisanta: <input type="text" id="searchServicerSurname" class="searchInput" onkeyup="searchingEngine()" /></span>

    </p>
</form>
<a asp-controller="Account" asp-action="AddUser">Dodaj użytkownika</a>
<table class="table">
    <thead>
        <tr>
            <th>Login</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Ulica</th>
            <th>Numer domu</th>
            <th>Numer mieszkania</th>
            <th>Kod pocztowy</th>
            <th>Miasto</th>
            <th>Email</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="searchBody">
        @foreach (var user in Model.Users)
        {

            var servicerName = user.FirstName;
            var servicerSurname = user.LastName;

        <tr>
            <td>@user.UserName</td>
            <td class="resultsServicerName">
                @user.FirstName
            </td>
            <td class="resultsServicerSurname">
                @user.LastName
            </td>
            <td>@user.Street</td>
            <td>@user.StreetNumber</td>
            <td>@user.ApartmentNumber</td>
            <td>@user.PostCode</td>
            <td>@user.City</td>
            <td>@user.Email</td>

            @if (user.UserName != "admin@admin.com")
    {
        <td>
            <a asp-controller="Account" asp-action="EditUser" asp-route-id="@user.Id">Edytuj</a>
        </td>
        <td>
            <a asp-controller="Account" asp-action="DeleteUser" asp-route-id="@user.Id">Usuń</a>
        </td>
}
else
{
        <td></td>
        <td></td>
}
            <td><a asp-controller="Servicers" asp-action="Specializations" asp-route-id="@user.Id">Specjalizacje</a></td>
        </tr>
        }
    </tbody>
</table>

<script>

    function searchingEngine() {
        var tbody, trs, tr, searchByName, searchBySurname, display, i;
        tbody = document.getElementById("searchBody");
        trs = tbody.getElementsByTagName("tr");

        searchByName = document.forms['search-servicers'].querySelector("#searchServicerName");
        searchBySurname = document.forms['search-servicers'].querySelector("#searchServicerSurname");

        for (i = 0; i < trs.length; i++) {
            tr = trs[i];
            if (
                checkFilter(tr, searchByName, "resultsServicerName") &&
                checkFilter(tr, searchBySurname, "resultsServicerSurname")
            ) {
                display = "";
            }
            else {
                display = "none";
            }

            tr.style.display = display;
        }

    }

    function checkFilter(tr, input, resultClass) {
        var inputValue = (input.value || "").toUpperCase();
        var resultValue = tr.getElementsByClassName(resultClass)[0].textContent.toUpperCase();
        return resultValue.indexOf(inputValue) > -1;
    }

    var tbody = document.getElementById("searchBody");
    var trs = tbody.getElementsByTagName("tr");

  
    var btn = document.getElementById("btn1").addEventListener("click", function (e) {
        e.preventDefault();

    })
    class User {
        constructor(servicerName, servicerSurname) {
            this.servicerName = servicerName;
            this.servicerSurname = servicerSurname;
        }
    }

</script>