@model CallCenterService.ViewModels.EditSpecializationViewModel

<h2>Specjalizacje użytkownika @Model.FirstName @Model.LastName</h2>
<br />

<form method="post" asp-controller="Servicers" asp-action="Specializations">
    <input type="submit" value="Edytuj" />
    <input asp-for="UserId" type="hidden" />
    <input asp-for="FirstName" type="hidden" />
    <input asp-for="LastName" type="hidden" />

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Specjalizacja</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Specializations.Count; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(m => m.Specializations[i].Id)
                        @Html.HiddenFor(m => m.Specializations[i].Type)
                        @Html.CheckBoxFor(m => m.Specializations[i].Checked)
                    </td>

                    <td>@Model.Specializations[@i].Type</td>
                </tr>
            }
        </tbody>
    </table>
</form>