@model CallCenterService.ViewModels.EditSpecializationViewModel

<h2>Specjalizacje użytkownika @Model.FirstName @Model.LastName</h2>
<br />

<form method="post" asp-controller="Servicers" asp-action="Specializations">
    <input type="submit" value="Edytuj" />
    <input asp-for="UserId" type="hidden" />
    <input asp-for="FirstName" type="hidden" />
    <input asp-for="LastName" type="hidden" />

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Specjalizacja</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var spec in Model.Specializations)
            {
                <tr>
                    <td>@spec.Id</td>
                    <td>
                        @spec.Type
                    </td>
                    <td><input asp-for="SpecId" value="@spec.Id" type="radio" /></td>
                </tr>
            }
        </tbody>
    </table>
</form>