
@*<link rel="stylesheet" href="~/css/tableStyle.css">*@


@model IEnumerable<CallCenterService.Models.Fault>

@{
    ViewData["Title"] = "Usterki";
}

<h2>Usterki</h2>

@*<p>
    <<<<<<< HEAD
            <a asp-action="Create">Dodaj usterkę</a>
        </p>*@



<form asp-controller="Faults" asp-action="Index" method="get">
    <p>
        <b>Imie klienta: </b> <input type="text" name="searchClientName">
        <b>Nazwisko klienta:</b>  <input type="text" name="searchClientSurname">
        <b>Adres klienta: </b> <input type="text" name="searchClientAddress">
        <b>Status:</b> <input type="text" name="searchFaultStatus">
        <input type="submit" value="Szukaj" />
    </p>
</form>

@*<a asp-action="Create">Dodaj usterkę</a>*@


<table class="table">
    <thead>
        <tr>
            <th>
                ID usterki
            </th>
            <th>
                Opis klienta
            </th>
            <th>
                Status
            </th>
            <th>
                Data zgłoszenia
            </th>
            <th>
                Imię klienta
            </th>
            <th>
                Nazwisko klienta
            </th>
            <th>
                Adres klienta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FaultId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Client.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Client.SecondName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Client.Street)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FaultId">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@item.FaultId">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
