@model IEnumerable<CallCenterService.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h2>Klienci</h2>

<p>
    <a asp-action="Create">Dodaj klienta</a>
</p>


<form asp-controller="Clients" asp-action="Index" method="get">
    <p>
        <b>Imię:</b> <input type="text" name="searchClientName">
        <b>Nazwisko:</b> <input type="text" name="searchClientSurname">
        <b>Adres:</b> <input type="text" name="searchClientAddress">
        <input type="submit" value="Szukaj" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Adres
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientId">Edytuj</a> |
                @*<a asp-action="Details" asp-route-id="@item.ClientId">Details</a> |*@
                @*<a asp-action="Delete" asp-route-id="@item.ClientId">Usuń</a>*@
                <a asp-controller="Products" asp-action="Create" asp-route-id="@item.ClientId">Dodaj produkt</a> |
                <a asp-controller="Faults" asp-action="Create" asp-route-id="@item.ClientId">Dodaj usterkę</a>
            </td>
        </tr>
        }
    </tbody>
</table>
